# --- ENTORNOS VIRTUALES ---
# Ignora tu entorno actual y nombres comunes
router-env/
venv/
env/
.env/
ENV/

# --- PYTHON ---
# Archivos de procesamiento interno de Python (bytecode)
__pycache__/
*.py[cod]
*$py.class

# --- DISTRIBUCIÓN / PAQUETES ---
# Si luego empaquetas tu código, estas carpetas se crean solas
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# --- CONFIGURACIÓN DE EDITORES ---
# VS Code
.vscode/
# PyCharm / IntelliJ
.idea/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db

# --- VARIABLES DE ENTORNO ---
# Archivos donde podrías guardar contraseñas o llaves API secretas
.env
.venv
node_modules/
dist/
package-lock.json
yarn.lock
.env
